servers:
  -
    protocol: HTTP
    socket: 'tcp://127.0.0.1:8001'
    min-children: 2
    max-children: 4
    app:
      class: Midgard\AppServerBundle\AiP\Runner
      file: bootstrap.php.cache
      middlewares: {}
symfony.kernels:
  -
    path: /
    kernel: AppKernel
    kernelFile: AppKernel.php
    environment: dev
